html { height: 100% }
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans';
  }

#map {
    height:   100%;
    width:    100%;
    position: absolute;
  }

#browsersupport {
  width: 60%;
  background-color: #000;
  opacity: .5;
   margin: 0 auto;
margin-top: 100px;
   border-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
     box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
     padding: 30px;
}

#browsersupport #text {
  font-size: 24px;
  background-color: #000;
  opacity: 1;
  color: #fff;
}

#browsersupport #button {
  text-align: center;
}
#browsersupport button {
display: block;
  width: 90%;
  margin: 20px;
  padding: 4px;
  margin: 0 auto;
}
#sceneswitcher #currentscene {
  min-height: 200px;
}

#legend {
    z-index: 10000;
    position: absolute;
    color: #000;
}

#legend table {
    margin-top: 30px;
    width: 300px;
    font-size: smaller;
  }

#legend td sdfdsf,
#legend tr dfsdf{
  width: 30%;
}

#legend .style a {
    color: #000;
    height: 20px;
    width: 100%;
}

#legend  ul.style {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding: 0px;
  width: 100%;
}

#legend .style li {
  float: right;
  list-style: none;
}

#legend .style li.color {
  float: left;
  width: 130px;
}

#legend .style .color a {
  display: block;
  width: 100%;
}

#legend .marker {
  cursor: pointer;
  margin-left: 10px;
}

#legend .marker {
  font-size: 18px;
  color: #444;
}

#legend .marker:hover {
  color: #000;
}

#locations .marker {
  cursor: pointer;
}

#locations .marker:hover {
  text-decoration: underline;
}


.leaflet-control-locationlist-arrow-next {
    background-image: url('images/icon-next.png');
}

.leaflet-control-locationlist-arrow-prev {
   background-image: url('images/icon-prev.png');
}

.sidebar-content {
    display: block;
}

.sidebar .icon {
  display: block;
  width: 35px;
  height: 35px;
}

.iframepane {
    padding-left: 0px;
    padding-right: 0px;
}

.iframepane h1{
    padding-left: 20px;
    padding-right: 20px;
}

.iframepane.active {
    display: block;
    height: 100%;
    overflow: none;
}

.iframepane.active div {
    height: 95%;
}

.iframepane iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#sceneswitcher .group {
<!-- padding-inline-start: 20px; -->
  padding-left: 20px;
}

#currentscene.preview {
  color: #111;
  background-color: #eee;
}
#sceneswitcher li {
  text-decoration: none;
  color: #33B5E5;
  display: block;
  padding-left: 40px;
  background-color: #ffffff;
  border-color: #33B5E5;
  border: 1px;
  border-style: solid;
  margin-bottom: 10px;
}

#sceneswitcher li .description {
  display: none;
}

#sceneswitcher li:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #33B5E5;
  border-color: #33B5E5;
  border: 1px;
  border-style: solid;
}

#sceneswitcher li.active {
  color: #000;
}

.osmlabel.kind {
  display: block;
  clear: both;
  font-size: big;
}

.osmlabel.valuelabel {
  display: inline-block;
  clear: both;
}

.osmlabel.keylabel {
  display: inline-block;
  clear: both;
}

.osmlabel.name {
  font-weight: bigger;
}

.osmlabel.wikipedia,
.osmlabel.underlined {
  cursor: pointer;
  text-decoration: underline;
}

.osmlabel .icons {
  display: inline-block;
  float: right;
  position: absolute;
  padding: 5px;
}

.osmlabel.visible .icons {
  background-color: #fff;
}

.osmlabel .icon {
  display: block;
  width: 16px;
  height: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  cursor: pointer;
  float: left;
  opacity: 0;
  transition: opacity .25s ease-in-out;
}

.osmlabel.visible .icon {
  opacity: 1;
}

.osmlabel .icon:hover {
  border-style: dotted;
  border-color: #000;
  filter: none;
}

.osmlabel .wikipediaicon {
  border-color: #000;
}

body .tipsy-inner {
   padding: 10px;
   font: red;
   font-size: 14px;
 }


 body.waiting * {
     cursor: progress;
 }
